.cell_mouseover {
	border-color:rgb(170, 204, 238);
	border-style:solid;
	border-width:1px;
	background:#EFFFEF;
}
.cell_selecting{
	background:#DEEEDE;
}
.rhead {
	background: #E8EEF7 none repeat scroll 0%;
	border-top:1px solid #DDDDDD;
	left:0pt;
	width: 100%;
}
.rheadtext {
	color:#446688;
	padding-right:4px;
	text-align:right;
}
div.grid {
	background:#FFFFFF none repeat scroll 0%;
	cursor:default;
	position:relative;
}

.grid_bg {
	position:absolute; top:25; left:0; width:100%;border:2px;
	background-image: url(../../images/Calendar_BG.gif);	
	background-repeat: repeat;
	background-color:#ffffff;
	height:1024px;
}

.colheadersmiddle {
	margin-left:40px;
	margin-right:16px;
}
.chead {
	text-align:center;
	position:absolute;
}
.cheadToday {
	background:#455678 none repeat scroll 0% 0%;
	border-color:#6786A7 rgb(170, 204, 238) rgb(170, 204, 238) rgb(103, 134, 167);
	border-style:solid;
	border-width:1px;
	font-weight:bold;
	color: #fff;
}
.allDayCell {
	border-left:3px double #DDDDDD !important;
	position:absolute;
	width:3px;
}


div.inset {
	border-color:#A2BBDD rgb(255, 255, 255) rgb(255, 255, 255) rgb(162, 187, 221);
	border-style:solid;
	border-width:1px;
}

.chip {
	cursor:default;
	overflow:hidden;
}
.chip .chipbody {
	color:#FFFFFF;
	overflow:hidden;
	position:relative;
	width:100%;
}
.t1 {
	font-size:1px;
	height:1px;
	line-height:1px;
	margin-top:0pt;
	margin-bottom:0pt;
	margin-left:2px;
	margin-right:2px;
}
.t2 {
	font-size:1px;
	height:1px;
	line-height:1px;
	margin-top:0pt;
	margin-bottom:0pt;
	margin-left:1px;
	margin-right:1px;
}
.t3 {
	border-width:0pt;
	font-size:1px;
	height:1px;
	line-height:1px;
	margin:0pt 1px;
}

.chip .b2 {
	border-style:solid;
	border-width:0pt 1px;
	margin-top:0pt;
	margin-bottom:0pt;
	margin-left:1px;
	margin-right:1px;
}

.chip .b1 {
	margin-top:0pt;
	margin-bottom:0pt;
	margin-left:2px;
	margin-right:2px;
}
.chip .b1, .chip .b2 {
	font-size:1px;
	height:1px;
	line-height:1px;
}

#allDayGrid {	
	background:#E8EEF7 none repeat scroll 0% 0%;
	margin-bottom:5px;
	margin-right:16px;
	margin-left:40px;
}
.eventowner, #decowner {
	height:100%;
	left:0pt;
	position:absolute;
	top:0pt;
	width:100%;
}
#gridcontainercell {
	position:relative !important;
}
#eventowner, #decowner {
	height:100%;
	left:0pt;
	position:absolute;
	top:0pt;
	width:100%;
}
#gridcontainer {
	border-bottom:1px solid #FFFFFF;
	border-left:1px solid #A2BBDD;
	border-top:1px solid #A2BBDD;
	height:100%;
	overflow: scroll;
	overflow-x:hidden;
	overflow-y:scroll;
	position:relative;
	dispaly:block;
}

#colheaders {
	height:2.5ex;
	position:relative;
}
#calowner {
	display:block;
	height:100%;
	width:100%;
}
.chip dl {
	border-style:solid;
	border-width:0pt 1px;
	margin:0pt;
	overflow:hidden;
	position:relative;
	color: #fff !important;
}

.eventheadlabel {
	color: #ffffff !important;
	white-space: nowrap;
	font-weight: 700;
}

.hrule {
	left:0pt;
	position:absolute;
	width:100%;
}

.hruleeven {
	border-top:1px solid #DDDDDD!important;
}
.hruleodd {
	border-top:1px dotted #DDDDDD!important;
}

.adc {
	-moz-user-select:none;
	color:#FFFFFF;
	font-family:Verdana,Sans-serif;
	font-size:85%;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2em;
	overflow:hidden;
	position:absolute;
	text-align:left;
	width:100%;
}

.noleft {
	padding-left:3px;
}