*~
.DS_Store
.git
.hg
.svn
.idea/
.env
.env*
.project
composer.lock
vendor/*
tmp/*
!tmp/.htaccess
cache/*
!cache/.htaccess
config/*
!config/empty.config.php
!config/ldap.config.example.php
upload/*
!upload/.htaccess
modules/*
api
api/*
dummy.php
dummy.txt
.buildpath
.settings/org.eclipse.core.runtime.prefs
