.input-container .date-picker {
    float: left;
}
.cp-multiple {
    margin-left: 200px;
    overflow: auto;
}
.coInputMainBlock .input-container label {
    width: 150px;
}

.address-input-container .address_street_input {
    width: 150px;
}

.address-input-container input.address_city_input {
    width: 90px;
}
.address-input-container input.address_state_input {
    width: 90px;
}
.address-input-container input.address_zipcode_input {
    width: 80px;
}
.address-input-container select.country-selector {
    width: 120px;
    height: 27px;
    color: #747474;
}

.address-input-container select.country-selector option:invalid,
.address-input-container select.country-selector option[value=""] {
    color: #747474;
}

.custom-properties .input-container input[type="text"]:not(.x-form-text),
.custom-properties .input-container textarea {
	display:block;
	width: 340px;
	padding: 5px;
}

.custom-properties .input-container select:not(.address_type_input .address_country_input) {
	display:block;
	width: 408px;
	height: 26px;
}

.left-section .custom-properties .input-container select:not(.address_type_input .address_country_input) {
	width: 320px;
}
.left-section .custom-properties .input-container label {
	width: 140px;
}
