/** 
   Style information widget
*/

.information-widget-group{
    width: 100%;
    margin-bottom: 30px;
    line-height: 2.5;
}

.information-widget-group:last-child{
    margin-bottom: 0;
}

.information-widget--left-side {
    width: 47.5%;
    float: left;
    margin-right: 5%;
}

.information-widget--right-side {
    width: 47.5%;
    float: left;
}

.information-widget-group-header{
    font-size: 16px;
    font-weight: 600;
    color: #333;
}


/** 
   Style table 
*/
.information-widget-group-table{
}

.information-widget-table-row{
}

.information-widget-table-definition{
    padding-right: 30px;
    color: #666;
    width: 160px;
}

.information-widget-table-value{

}


