.search-selector .item-template{
	display: none!important;
}

.search-selector .search-input{
	border-radius: 4px;	
	padding-right: 20px !important;
	text-overflow: ellipsis;
	width: 100%;
}

.search-selector .search-input-div{
	margin-right: 20px;
	position: relative;
}

.search-selector .search-input-div input{
	width: 100%;
	border: 1px solid #333;
}

.ico-search-m{
	background-image: url("../../images/16x16/search_m.png")!important;
    background-position: right center!important;
    background-repeat: no-repeat!important;
   /* margin: 3px!important;*/
    padding-right: 20px!important;
}

.coInputMainBlock .ico-search-m {
	margin-left: 0px;
}

.single_current_selected .empty-text {
	font-size:13px;
	margin:1px 5px;
	display: none;
}

.search-selector-more{
	color: #003562;
	text-align: center;
}

.ui-autocomplete{
	max-height: 400px!important;
	overflow-y: auto!important;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding to account for vertical scrollbar */
    padding: 20px;
}

.ui-autocomplete .loading-indicator{
	 background-position: center; 
}

/* Templates css*/

/*search-selector-item-template-1*/
.search-selector-result .searchResultImg{
	background-image: url("../../images/48x48/contact.png");
	height: 48px;
    width: 48px;
}

.search-selector-result{
	display: inline-block;
	width: 100%;
}

.search-selector-result .divi{ 
    background: none repeat scroll 0 0 #d3d7dc;
    font-size: 0;
    height: 1px;
    line-height: 0;
    float:left;
    clear: both;
    width: 100%;
}

.ui-menu-divider .divi{ 
	display:none;   
}

.search-selector-result .search-result-ico{
	background-size: 16px 16px;
	min-width: 16px; 
	min-height: 16px;
}

.search-result-row-small{
	min-height: 20px!important;
}

.search-result-row-medium{
	min-height: 36px!important;
}

.searchResultLeft{
	float: left;
	clear: left;	
	min-height: 25px;	
}

.searchResultName{	
	float: left;
	margin-left: 2px;
	text-overflow: ellipsis;
	white-space: nowrap;
  	overflow: hidden;
}

.searchResultInfo{
	float: left;
	margin-left: 2px;
	text-overflow: ellipsis;
}



/*END search-selector-item-template-1*/
 
.ui-autocomplete.ui-front.ui-menu.ui-widget.ui-widget-content{
	z-index: 9999;
}





